/* Firefox */
.valor-novo {
  padding: 0 4px!important;
  width: 30%;
  -moz-appearance: textfield;
}

.line_valor{
/*   display: block;
  width: 171px; */
}
/* Chrome, Safari, Edge, Opera */
.valor-novo::-webkit-outer-spin-button,
.valor-novo::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.woocommerce_order_items_wrapper{
  overflow-x: hidden!important;
}

.woocommerce_order_items_wrapper .item_cost{
display: none;
}
